.css-1fqm6np-MuiPaper-root-MuiAccordion-root {
    background-color: #448e97 !important

}

.css-gpwtyt-MuiPaper-root {
    background-color: #7dc4ca !important;
    color: hsl(0, 25%, 2%) !important;
}